.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50vw;
}
.title{
  color: #fff;
  font-size: 2rem;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.option {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.option:hover {
  background-color: #f0f0f0;
}

/* Цвета при выборе */
.correct {
  background-color: #4caf50 !important; /* зелёный */
  color: white;
  border-color: #4caf50;
}

.incorrect {
  background-color: #f44336 !important; /* красный */
  color: white;
  border-color: #f44336;
}
.imgblock{
  display: flex;
  justify-content: center;
  width: 100%;
}
.img{
  width: 300px;
  height: 300px;
  object-fit: contain;
}
.length{
  color: #B39FDA;
}

@media (max-width: 780px) {
  .card{
    width: 70vw;
  }
}
@media (max-width: 480px) {
  .card{
    width: 90vw;
  }
}